body {
  background: #e2e9f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  --primary-color: #7249e5;
  --primary-bg-color: #182343;
}

#root {
  width: 50%;
}
.top {
  width: 100%;
  position: relative;
}
.loadgin {
  text-align: center;
}

/* navbar */
.navbar {
  display: flex;
  background: var(--primary-bg-color);
  padding: 1rem 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
}

.navbar-div {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-block: 1rem;
}

.navbar__input {
  width: calc(100% - 1rem);
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 1rem;
  border: none;
}

.navbar__btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  background: none;
  color: white;
  cursor: pointer;
}
.navbar__btn.selected {
  background: var(--primary-color);
}

.navbar__btn__cart {
  background-image: url("./image/icons/shop_cart.svg");
  background-repeat: no-repeat;
}

/* body */

.organizer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 0;
  gap: 1rem;
}

.product {
  display: flex;
  gap: 0.5rem;
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  list-style: none;
}

.product__img {
  width: 30px;
  height: 30px;
  background: #eef3f6;
  border-radius: 0.5rem;
}

.product--div {
  width: 100%;
}

.product__tittle {
  font-weight: bold;
  margin-top: 2rem;
}

.btn-container {
  display: flex;
  content: flex-end;
}

.product__add-car-button {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-left: auto;
  cursor: pointer;
}

/* cart content */
.navbar-article {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--primary-bg-color);
  right: 0;

  opacity: 97%;

  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem 1.5rem;
  color: white;
  width: 17rem;
}
.navbar-article.hidden {
  display: none;
}

.cart-content__text {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.cart-content--products {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

.cart-content--amount {
  background: #1b2848;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem 0.8rem;
  margin-bottom: 0.5rem;
}
.cart-content--cost {
  font-size: 18px;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background: var(--primary-color);
}

.cart-item {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  align-items: center;
  list-style: none;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}
.cart-item__img {
  background: lightgrey;
  padding: 0.5rem;
  height: fit-content;
  border-radius: 0.5rem;
  justify-self: flex-start;
}
.cart-item__div {
  grid-column: 2 / 6;
}
.cart-item__text {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.cart-item__btn {
  justify-self: flex-end;
  background-image: url("./image/icons/close.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-color);
}
